@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');

:root{
    --font-one:'Rampart One', cursive;
    --font-two:'Source Serif Pro', serif;
}
body
{
    text-align: center;
    
}
label
{
 display: block;
 padding-bottom: 1rem;
 color: brown;
}
#output-box
{
    margin-top: 2rem;
  color: maroon;
  padding:2rem;
}
h1 
{
    margin:auto;
    margin-top: 3rem;
    text-align: center;
    font-family: var(--font-one);
}
#main 
{ 
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    padding: 4rem;
    font-family: var(--font-two);
    background-color: rgb(230, 159, 159);
}
input
{
    display: flex;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}

#submit-btn
{
    margin: auto;
    padding:0.5rem;
    border: 1px solid black;
    border-radius: 1.1rem; 
    background-color: white;
    color: black;
}
#submit-btn:hover
{
    background-color: black;
    color: white;
}
.footer
{
  margin-top: 7rem;
  justify-content: center;
}
.copyright
{
    font-family: var(--font-two);
}
.footer .social
{
    text-align: center;
    padding-bottom: 10px;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    margin-bottom: 0.5rem;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0.8px;
    opacity: 0.90;
}
.footer .social a:hover{
    background-color:white;
}