@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');

:root{
    --font-one:'Rampart One', cursive;
    --font-two:'Source Serif Pro', serif;
}
body
{
    text-align: center;
    
}
label
{
 display: block;
 padding-bottom: 1rem;
 color: brown;
}
h1 
{
    margin:auto;
    margin-top: 3rem;
    text-align: center;
    font-family: var(--font-one);
}
#main 
{ 
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    padding: 4rem;
    font-family: var(--font-two);
    background-color: blanchedalmond;
}
input
{
    display: flex;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}

#submit-btn
{
    margin: auto;
    padding:0.5rem;
    border: 1px solid black;
    border-radius: 1.1rem; 
    background-color: white;
    color: black;
}
#submit-btn:hover
{
    background-color: black;
    color: white;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />